@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-grey: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --primary-font: 'Karla', sans-serif;
    --sm-font-weight: 400;
    --lrg-font-weight: 700;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: var(--sm-font-weight);
}

.page-wrapper {
    background-color: var(--light-grey);
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    margin: 200px 0;
}

.top-row {
    padding: 50px;
    background-color: white;
    justify-content: start;
    gap: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    flex-grow:2;

}

.top-row h1 {
    padding-bottom: 10px;
    color: var(--cyan);
    font-size: 30px;
    font-weight: var(--lrg-font-weight);
}

.top-row h2 {
    color: var(--bright-yellow);
    font-size: 25px;
}

.top-row p {
    color: var(--grayish-blue)
}

.bottom-row {
    padding: unset;
    justify-content: space-between;
}

.left-side {
    font-family: var(--primary-font);
    background-color: var(--cyan);
    padding: 60px 50px 50px 50px;
    color: white;
    border-bottom-left-radius: 10px;
}

.left-side h3 {
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 2px;

}

.left-side div {
    align-items: center;
    gap: 15px;
}

.left-side #p1 {
    font-size: 40px;
}

.left-side #p2 {
    opacity: .5;
    font-size: 20px;
}

.left-side #p3 {
    opacity: .8;
    font-size: 20px;
}

form {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

button {
    display: block;
    background-color: var(--bright-yellow);
    color: white;
    flex-grow: 1;
    min-height: 50px;
    border-radius: 5px;
    border: unset;
}

.right-side {
    padding: 60px 50px 50px 40px;
    background-color: var(--cyan);
    opacity: .7;
    color: white;
    border-bottom-right-radius: 10px;
}

.right-side h3 {
    padding-bottom: 10px;
    font-size: 30px;
}

.right-side h4 {
    opacity: .6;
    font-size: 18px;
    font-weight: var(--sm-font-weight);
}

button:hover {
    background-color: var(--light-grey);
    color:var(--cyan)
}

@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-row {
        padding:30px;
        line-height:2;
    }
    .left-side {
        padding:30px;
        border-radius: 0px;
    }
    .right-side {
        padding: 30px;
        border-bottom-left-radius: 10px;
    }

    .container {
        margin: unset;
        justify-content: center;
        align-items: center;
        padding: 30px;
        max-width: 95vw;
    }
    form {
        padding: 10px;
    }
}
